<!-- index.html -->
{% extends 'base.html' %}

{% block title %}
{{ content.index.title }}
{% endblock %}
{% block head %} 
<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}
<div id="chatBox"></div>
<input type="text" id="inputField" placeholder="Type a message...">
<button onclick="sendMessage()">{{content.index.send}}</button>
<script>
    // Expose the chatlog as a global variable
    var chatlog = {{ chatlog | tojson }};
</script>
<script src="static/app.js"></script>
{% endblock %}