<!-- index.html -->
{% extends 'base.html' %}

{% block title %}
{{ content.index.title }}
{% endblock %}
{% block head %} 
<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}
<div id="mainContainer">
    <div id="teacherBox">
        <div id="explanationBoxInner"></div>
    </div>

    <div id="chatBox">
        <div id="chatBoxTitle">Remember: Everything the bot says is made up!</div>
        <div id="chatBoxInner"></div>
        <form class="input-container" onsubmit="sendMessageWrapper(event)">
            <input type="text" id="inputField" placeholder="Type a message...">
            <button type="submit">Send</button>
            <div id="loadingSpinner" class="spinner" style="display: none;"></div>
        </form>
    </div>


    <div id="questionBox">
        <div id="questionBoxInner"></div>
        <form class="input-container" onsubmit="submitQuestionWrapper(event)">
            <input type="text" id="questionField" placeholder="Type your question...">
            <button type="submit">Ask</button>
            <div id="questionLoadingSpinner" class="spinner" style="display: none;"></div>
        </form>
    </div>
</div>

<script>
    // Expose the chatlog as a global variable
    var chatlog = {{ chatlog | tojson }};
</script>
<script src="/static/app.js"></script>
{% endblock %}