<!-- index.html -->
{% extends 'base.html' %}

{% block title %}
{{ content.nav.title }}
{% endblock %}
{% block head %} 
<link rel="stylesheet" href="/static/settings.css">
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.6/dist/purify.min.js"></script>
<script src="/static/sanitise.js"></script>
<form action="/changesettings" method="post">
    <label for="auto_translate">
        {{ content.settings.auto_translate }}:
        <input type="checkbox" id="auto_translate" name="auto_translate" {{ 'checked' if content.config.auto_translate else '' }} style="float: right;">
        <br><br>
    </label>
    
    <label for="overwrite_sys_lang">
        {{ content.settings.overwrite_sys_lang }}:
        <input type="checkbox" id="overwrite_sys_lang" name="overwrite_sys_lang" {{ 'checked' if content.config.overwrite_sys_lang else '' }} style="float: right;">
        <br><br>
    </label>
    
    <label for="overwrite_token_limit">
        {{ content.settings.overwrite_token_limit }}:
        <input type="checkbox" id="overwrite_token_limit" name="overwrite_token_limit" {{ 'checked' if content.config.overwrite_token_limit else '' }} style="float: right;">
        <br><br>
    </label>
    <label for="user_token_limit">{{ content.settings.user_token_limit }}:</label>
    <input type="number" id="user_token_limit" name="user_token_limit" value="{{ content.config.user_token_limit }}"><br><br>
    
    <label for="llm_select">{{ content.settings.llm_select }}:</label>
    <select id="llm_select" name="llm_select">
        <option value="gpt-3" {% if content.config.llm_select == 'gpt-3' %}selected{% endif %}>GPT-3</option>
        <option value="gemini" {% if content.config.llm_select == 'gemini' %}selected{% endif %} disabled>Gemini</option>
        <option value="llama" {% if content.config.llm_select == 'llama' %}selected{% endif %} disabled>LLaMa</option>
        <option value="claude" {% if content.config.llm_select == 'claude' %}selected{% endif %} disabled>Claude</option>
    </select><br><br>
    
    <label for="gpt3_api_key">{{ content.settings.gpt3_api_key }}:</label>
    <input type="password" id="gpt3_api_key" name="gpt3_api_key"><br><br>
    
    <label for="gemini_api_key">{{ content.settings.gemini_api_key }}:</label>
    <input type="password" id="gemini_api_key" name="gemini_api_key" disabled><br><br>
    
    <label for="llama_api_key">{{ content.settings.llama_api_key }}:</label>
    <input type="password" id="llama_api_key" name="llama_api_key" disabled><br><br>

    <label for="claude_api_key">{{ content.settings.claude_api_key }}:</label>
    <input type="password" id="claude_api_key" name="claude_api_key" disabled><br><br>
    
    <input type="submit" value="{{ content.settings.submit }}">
</form>
{% endblock %}